//body

body {
  font-family: "Nunito", sans-serif;
  font-size: $txtmob;
  line-height: 1.3;
  background-color: $c-text;
  margin: 0;
  padding: 0;

}


p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.espace {
  margin-bottom: $h2pc;
}

button {
  font-family: "Nunito", serif;
}

.hidden {
  display: none;
}

.titre {
  font-family: "Cherry Bomb One", serif;
  margin-top: 0;
  text-align: center;
  color: $c-bg2;
  font-weight: 100;
  margin-block-start: 0;
  margin-block-end: 0;

  &--blanc {
    color: $c-text;
  }



  &--typo {
    font-family: "Flavors", cursive;
  }

  &--colorB {
    color: $c-bg2;
  }

  &--h1 {
    margin-bottom: 11px;
    font-size: $h1mob;
    color: $c-colortr;
    text-shadow: 0px 8px 2px $c-bg2;

  }

  &--h2 {
    font-size: $h2mob;
    margin-bottom: $txtpc;

  }

  &--h3 {
    font-size: $h3mob;
    text-align: center;
    margin-block-start: 0;


  }

}

.btn {
  &--sect01 {
    margin-top: $txtpc;

    &__flex {
      display: flex;
    }
  }

  a,
  button {
    cursor: pointer;
    color: $c-bg2;
    text-decoration: none;
    background: linear-gradient(48deg,
        rgb(255, 197, 222) 0%,
        rgba(235, 235, 235, 1) 50%,
        rgba(255, 146, 43, 1) 100%);
    filter: saturate(1.5);
    /* éclaircit et rend plus vif */
    padding: 10px 10px;
    border-radius: 48px;
    border: none;
    box-shadow: 0px 8px 1px $c-bg2;
    display: inline-block;

    /* Transition fluide sur filtre, ombre, etc. */
    transition: filter 0.4s ease, transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      filter: brightness(1.1) saturate(1.1);
      /* éclaircit et rend plus vif */
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
      transform: translateY(5px);
    }
  }
}


/* TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE TABLETTE */
@media only screen and (min-width:631px) {

  body {
    font-size: $txttab;
  }

  .titre {


    &Bloc__deco {
      max-height: 100;
      height: 124px;
    }

    &--color {
      color: $c-bg;
    }

    &--h1 {
      font-size: $h1tab;

    }

    &--h2 {
      font-size: $h2tab;
    }

    &--h3 {
      font-size: $h3tab;
    }

  }



}

/* DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS DESKTOPS */
@media only screen and (min-width:1000px) {
  body {
    font-size: $txtpc;
  }

  .titre {
    margin-bottom: $txtpc;


    &--color {
      color: $c-bg;
    }

    &--h1 {
      font-size: $h1pc;
      text-align: left;
      margin-bottom: 0;

    }

    &--h2 {
      font-size: $h2pc;
      margin-bottom: $h2pc;
    }

    &--h3 {
      font-size: $h3pc;
      margin-block-end: 11px;
      margin-bottom: $txtpc;
    }

  }

}

