@use 'normalize';
@import 'utils/variables';
@import 'components/type';
@import 'components/findCat';
@import 'components/index';
@import 'components/footer';
@import 'components/credits';
@import 'components/puzzle';
@import 'components/miam';