$c-bg: rgb(76, 67, 69);
$c-bg2: rgb(41, 36, 37);
$c-colorun: #FF922B;
$c-colordx: #ffc5de;
$c-colortr: #FFA552;
$c-text: #ebebeb;

$h1mob: 76px;
$h2mob: 32px;
$h3mob: 24px;
$txtmob: 18px;

$h1tab: 80px;
$h2tab: 57px;
$h3tab: 40px;
$txttab: 20px;

$h1pc: 123px;
$h2pc: 52px;
$h3pc: 29px;
$txtpc: 22px;
